git+https://github.com/dolfies/discord.py-self@master#egg=discord.py-self[speed]
requests
brotlipy
aiohttp
aiofiles
beautifulsoup4
numpy
pytesseract
opencv-python
urllib3
pynacl
aiodns
dnspython
tenacity
pyotp
pytest
pydantic
